{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-3">Reset your password </h1>
    {% if validlink %}
    <p>Please enter your new password twice:</p>
    <form action="." method="post">{{ form.as_p }}{% csrf_token %}<p><input type="submit" class="section-btn btn btn-default btn-green smoothScroll" value="Change my password" /></p>
    </form>
    {% else %}
    <p>The password reset link was invalid, possibly because it hasalready been used. Please request a new
    password reset.</p>


    {% endif %}
</div>
{% endblock %}