@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');

body {
  background: #ffffff;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

/*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: inherit;
}

h1,
h2,
h3,
h4 {
  letter-spacing: -1px;
}

h5 {
  font-weight: 500;
}

h1 {
  color: #252525;
  font-size: 5em;
}

h2 {
  color: #272727;
  font-size: 3em;
  padding-bottom: 10px;
}

h3 {
  font-size: 1.8em;
  line-height: 1.2em;
  margin-bottom: 0;
  padding-bottom: 10px;
}

h4 {
  color: #454545;
  font-size: 1.8em;
  padding-bottom: 2px;
}

h6 {
  letter-spacing: 0;
  font-weight: normal;
  font-size: 16px;
}

p {
  color: #707070;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
}
/*---------------------------------------
       PRE LOADER              
  -----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%) scale(5);
}
.loading svg polyline {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.loading svg polyline#back {
  stroke: #a5c422;
}
.loading svg polyline#front {
  stroke: #6a800b;
  stroke-dasharray: 12, 36;
  stroke-dashoffset: 48;
  animation: dash 1s linear infinite;
}
@-moz-keyframes dash {
  62.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash {
  62.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes dash {
  62.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  62.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/*---------------------------------------
     GENERAL               
  -----------------------------------------*/

html {
  -webkit-font-smoothing: antialiased;
}

a {
  color: #252525;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}

a:hover,
a:active,
a:focus {
  color: #a5c422;
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #000000;
}

.section-title {
  padding-bottom: 20px;
      text-align: center;
      padding-top: 20px;
}

.section-title h2 {
  margin-top: 0;
}

.section-btn {
  background: #a5c422;
  border: 0;
  border-radius: 3px;
  color: #ffffff;
  font-size: inherit;
  font-weight: 500;
  padding: 14px 20px;
  transition: transform 0.1s ease-in;
  transform: translateX(0);
  margin-bottom: 10px;
  margin-top: 20px;
}

.section-btn:hover {
  transform: translateY(-5px);
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.border-top {
  border-top: 1px solid #f2f2f2;
  margin-top: 4em;
  padding-top: 2.5em;
}

.btn-gray {
  background: #393939;
}

.btn-blue {
  background: #4267b2;
}
.btn-orange {
  background: #be5e1e;
}
#logoutBtn {
  float: right;
  background: rgb(153, 6, 6);
}
#sessionBtn {
  float: right;
  background: #a5c422;
}

#about,
#team,
#news,
#news-detail {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}
#eye {
  float: right;
  margin-top: 13px;
  margin-right: 10px;
  font-size: 21px;
  color: #a5c422;
}
#AppEye {
  float: right;
  margin-top: 13px;
  margin-right: 10px;
  font-size: 21px;
  color: #a5c422;
}
#openEye {
  display: none;
}
#openEye2 {
  display: none;
}
#pastAppoitment {
  display: none;
}
#completedAppointments {
  display: block;
}
#hideBtn {
  display: none;
}
#AppShowBtn {
  display: none;
}
#changeTime {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #5bc0de;
}
#payment-button {
  background-color: purple;
}
#completePayment {
  display: none;
}
.button-84 {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#a5c422, #74d447);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-size: 18px;
  height: 52px;
  justify-content: center;
  line-height: 1;
  margin-right: 10px;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-84:hover {
  box-shadow: rgba(0, 1, 0, 0.2) 0 2px 8px;
  opacity: 0.85;
}

.button-84:active {
  outline: 0;
}

.button-84:focus {
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 3px;
}

@media (max-width: 420px) {
  .button-84 {
    height: 48px;
  }
}

.button-85 {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#007bff, #007bff);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-size: 18px;
  height: 52px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-85:hover {
  box-shadow: rgba(0, 1, 0, 0.2) 0 2px 8px;
  opacity: 0.85;
}

.button-85:active {
  outline: 0;
}

.button-85:focus {
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 3px;
}

@media (max-width: 420px) {
  .button-85 {
    height: 48px;
  }
}
/*---------------------------------------
      Header              
  -----------------------------------------*/

header {
  background: #ffffff;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  height: 45px;
}

header .col-md-8 {
  padding-right: 0;
}

header p,
header span {
  font-size: 12px;
  line-height: 24px;
}

header a,
header span {
  color: #747474;
  padding: 10px;
}

header span {
  font-weight: 500;
  display: inline-block;
  padding: 11px 15px;
}

header span.date-icon {
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  padding-right: 19px;
  padding-left: 19px;
}

header span i {
  color: #a5c422;
  margin-right: 5px;
}

/*---------------------------------------
      NAVMENU              
  -----------------------------------------*/

.navbar-default {
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.075);
  border: none;
  margin-bottom: 0;
  padding: 10px;
}

.navbar-default .navbar-brand {
  color: #393939;
  font-weight: 500;
}

.navbar-default .navbar-brand .fa {
  color: #a5c422;
}

.navbar-default .navbar-nav li.appointment-btn {
  margin: 3px 0 0 20px;
}

.navbar-default .navbar-nav li.appointment-btn a {
  background: #a5c422;
  border-radius: 3px;
  color: #ffffff;
  font-weight: 600;
  padding-top: 12px;
  padding-bottom: 12px;
}

.navbar-default .navbar-nav li.appointment-btn a:hover {
  background: #4267b2;
  color: #ffffff !important;
}

.navbar-default .navbar-nav li a {
  font-size: 18px;
  font-weight: 500;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.navbar-default .navbar-nav > li a:hover {
  color: #a5c422 !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #a5c422;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #a5c422;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border: none;
  padding-top: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
  background: #a5c422;
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar .navbar_right {
  display: flex;
}

.navbar .navbar_right img {
  width: 35px;
}

.navbar .navbar_right .icon_wrap {
  cursor: pointer;
}

.navbar .navbar_right .notifications {
  margin-right: 25px;
}

.navbar .navbar_right .notifications .icon_wrap {
  font-size: 28px;
}

.navbar .navbar_right .profile,
.navbar .navbar_right .notifications {
  position: relative;
}

.navbar .profile .profile_dd,
.notification_dd {
  position: absolute;
  top: 48px;
  right: -15px;
  user-select: none;
  background: #fff;
  border: 1px solid #c7d8e2;
  width: 350px;
  height: auto;
  display: none;
  border-radius: 3px;
  box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.125),
    -10px -10px 35px rgba(0, 0, 0, 0.125);
}

.navbar .profile .profile_dd:before,
.notification_dd:before {
  content: '';
  position: absolute;
  top: -20px;
  right: 15px;
  border: 10px solid;
  border-color: transparent transparent #fff transparent;
}

.notification_dd li {
  border-bottom: 1px solid #f1f2f4;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.notification_dd li .notify_icon {
  display: flex;
}

.notification_dd li .notify_icon .icon {
  display: inline-block;
  background: url('https://i.imgur.com/MVJNkqW.png') no-repeat 0 0;
  width: 40px;
  height: 42px;
}

.notification_dd li.baskin_robbins .notify_icon .icon {
  background-position: 0 -43px;
}

.notification_dd li.mcd .notify_icon .icon {
  background-position: 0 -86px;
}

.notification_dd li.pizzahut .notify_icon .icon {
  background-position: 0 -129px;
}

.notification_dd li.kfc .notify_icon .icon {
  background-position: 0 -178px;
}

.notification_dd li .notify_data {
  margin: 0 15px;
  width: 185px;
}

.notification_dd li .notify_data .title {
  color: #000;
  font-weight: 600;
}

.notification_dd li .notify_data .sub_title {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}

.notification_dd li .notify_status p {
  font-size: 12px;
}

.notification_dd li.success .notify_status p {
  color: #47da89;
}

.notification_dd li.failed .notify_status p {
  color: #fb0001;
}

.notification_dd li.show_all {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.notification_dd li.show_all p {
  font-weight: 700;
  color: #3b80f9;
  cursor: pointer;
}

.notification_dd li.show_all p:hover {
  text-decoration: underline;
}

.navbar .navbar_right .profile .icon_wrap {
  display: flex;
  align-items: center;
}

.navbar .navbar_right .profile .name {
  display: inline-block;
  margin: 0 10px;
}

.navbar .navbar_right .icon_wrap:hover,
.navbar .navbar_right .profile.active .icon_wrap,
.navbar .navbar_right .notifications.active .icon_wrap {
  color: #3b80f9;
}

.navbar .profile .profile_dd {
  width: 225px;
}
.navbar .profile .profile_dd:before {
  right: 10px;
}

.navbar .profile .profile_dd ul li {
  border-bottom: 1px solid #f1f2f4;
}

.navbar .profile .profile_dd ul li a {
  display: block;
  padding: 15px 35px;
  position: relative;
}

.navbar .profile .profile_dd ul li a .picon {
  display: inline-block;
  width: 30px;
}

.navbar .profile .profile_dd ul li a:hover {
  color: #3b80f9;
  background: #f0f5ff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.navbar .profile .profile_dd ul li.profile_li a:hover {
  background: transparent;
  cursor: default;
  color: #7f8db0;
}

.navbar .profile .profile_dd ul li .btn {
  height: 32px;
  padding: 7px 10px;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  background: #3b80f9;
  width: 125px;
  margin: 5px auto 15px;
}

.navbar .profile .profile_dd ul li .btn:hover {
  background: #6593e4;
}

.navbar .profile.active .profile_dd,
.navbar .notifications.active .notification_dd {
  display: block;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
  display: none;
}

.popup .shadow {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
}

.popup .inner_popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.popup .notification_dd {
  display: block;
  position: static;
  margin: 0 auto;
  height: 357px;
  overflow: auto;
}

.popup .notification_dd:before {
  display: none;
}

.popup .notification_dd li.title {
  font-weight: 700;
  color: #3b80f9;
  display: flex;
  justify-content: center;
  position: relative;
}

.popup .notification_dd li.title .close {
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.popup .notification_dd li.title .close:hover {
  opacity: 0.5;
}
@media only screen and (max-width: 767px) {
  .navbar .profile .profile_dd,
  .notification_dd {
    left: 10px;
  }
}
/*---------------------------------------
      Search button              
  -----------------------------------------*/
  /* ==========================================================================
     #SPACING
     ========================================================================== */
  .p-t-15 {
    padding-top: 15px;
  }
  
  .p-t-5 {
    padding-top: 5px;
  }
  
  .p-t-275 {
    padding-top: 275px;
  }
  
  @media (max-width: 767px) {
    .p-t-275 {
      padding-top: 120px;
    }
  }
  
  .p-t-395 {
    padding-top: 395px;
  }
  
  @media (max-width: 767px) {
    .p-t-395 {
      padding-top: 120px;
    }
  }
  
  .p-t-290 {
    padding-top: 290px;
  }
  
  @media (max-width: 767px) {
    .p-t-290 {
      padding-top: 120px;
    }
  }
  
  .p-t-240 {
    padding-top: 240px;
  }
  
  @media (max-width: 767px) {
    .p-t-240 {
      padding-top: 150px;
    }
  }
  
  .p-t-200 {
    padding-top: 200px;
  }
  
  @media (max-width: 767px) {
    .p-t-200 {
      padding-top: 150px;
    }
  }
  
  .p-t-165 {
    padding-top: 165px;
  }
  
  @media (max-width: 767px) {
    .p-t-165 {
      padding-top: 120px;
    }
  }
  
  .p-b-100 {
    padding-bottom: 100px;
  }
  
  @media (max-width: 767px) {
    .p-b-100 {
      padding-bottom: 250px;
    }
  }
  
  .p-b-120 {
    padding-bottom: 120px;
  }
  
  @media (max-width: 767px) {
    .p-b-120 {
      padding-bottom: 250px;
    }
  }
  
  .m-r-45 {
    margin-right: 45px;
  }
  
  @media (max-width: 767px) {
    .m-r-45 {
      margin-right: 15px;
    }
  }
  
  /* ==========================================================================
     #WRAPPER
     ========================================================================== */
  .searchWrapper {
    margin: 0 auto;
    max-width: 100%;
  }
  
  /* ==========================================================================
     #BUTTON
     ========================================================================== */
  #searchBtn{
    margin-top: 47px;
  }
  
  @media (max-width: 1085px) {
    .btn-submit {
      width: 100%;
    }
      #searchBtn {
        margin-top: 47px;
      }
  }
    @media (max-width: 767px) {
      #searchBtn {
        margin-top: 20px;
        margin-bottom: 20px;
      }
  }
  
  .m-t-0 {
    margin-top: 0;
  }
  
  .m-t-15 {
    margin-top: 15px;
  }
  
  .m-t-35 {
    margin-top: 35px;
  }
  
  /* ==========================================================================
     #FORM
     ========================================================================== */
  input,
  textarea {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    /* width: 100%; */
    font-size: 18px;
    font-family: inherit;
  }
  
  input:disabled {
    cursor: pointer;
    background: transparent;
  }
  
  textarea {
    resize: none;
  }
  
  button {
    cursor: pointer;
  }
  
  .input-group {
    position: relative;
    margin-bottom: 23px;
    margin-top: 23px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 20px;
    padding-bottom: 10px;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    float: left;
    margin-right: 10px;
  }
  
  .form::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .input-icon {
    font-size: 24px;
    color: #808080;
    position: absolute;
    line-height: 60px;
    right: 20px;
    top: 0;
    width: 20px;
    background: #fff;
    text-align: center;
    cursor: pointer;
  }
  
  .input-icon::before {
    display: block;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .label {
    font-size: 12px;
    color: #999;
    text-transform: uppercase;
    display: block;
    font-weight: 700;
  }
  
  .input--large {
    width: 300px;
  }
  
  .input--medium {
    width: 190px;
  }
  
  @media (max-width: 767px) {
  
    .input--large,
    .input--medium {
      width: 100%;
    }
  }
  
  .input--style-1 {
    font-size: 18px;
    padding: 9px 0;
    color: #666;
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  }
  
  .input--style-1::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #333;
  }
  
  .input--style-1:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #333;
    opacity: 1;
  }
  
  .input--style-1::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #333;
    opacity: 1;
  }
  
  .input--style-1:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #333;
  }
  
  .input--style-1:-ms-input-placeholder {
    /* Microsoft Edge */
    color: #333;
  }
  
  .m-b-0 {
    margin-bottom: 0;
  }
  
  @media (max-width: 767px) {
    .m-b-0 {
      margin-bottom: 26px;
    }
  }
  
  /* ==========================================================================
     #SELECT
     ========================================================================== */
  .quantity {
    font-size: 18px;
    color: #333;
  }
  
  .icon-con {
    position: absolute;
    width: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    background: #f2f2f2;
    right: 11px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .minus,
  .plus {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    color: #b2b2b2;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .minus:hover,
  .plus:hover {
    background: #2c6ed5;
    color: #fff;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* ==========================================================================
     #CARD
     ========================================================================== */
  .card-7 {
    background: transparent;
    position: relative;
  }
  
  .card-7 .card-body {
    padding: 0 20px;
  }
/*---------------------------------------
      DropDown List              
  -----------------------------------------*/

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: #a9c239;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: '';
  top: 14px;
  right: -290px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  width: 100%;
  font-size: 1.8rem;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #758b12;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  width: 100%;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
#Department {
  width: 100%;
  height: 42px;
}
#doctor {
  width: 100%;
  height: 42px;
}
/*---------------------------------------
      Slider              
  -----------------------------------------*/

#home h1 {
  color: #ffffff;
  padding-bottom: 10px;
  margin-top: 0;
}

#home h3 {
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  line-height: inherit;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0;
}

.slider .container {
  width: 100%;
}

.slider .owl-dots {
  position: absolute;
  top: 575px;
  width: 100%;
  justify-content: center;
}

.owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  margin: 5px 7px;
  border: 2px solid #d9d9d9;
  background: transparent;
  display: block;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #ffffff;
  border-color: transparent;
}

.slider .caption {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(20, 20, 20, 0.2);
  height: 100%;
  color: #fff;
  cursor: e-resize;
}

.slider .item {
  background-position: inherit;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  height: 650px;
}

.slider .item-first {
  background-image: url('../image/slider1.jpg');
}

.slider .item-second {
  background-image: url('../image/slider2.png');
}

.slider .item-third {
  background-image: url('../image/slider3.jpg');
}

/*---------------------------------------
      Introduction              
  -----------------------------------------*/

#about {
  background: url('../image/about-bg.jpg') no-repeat top center;
  background-size: cover;
  padding-top: 150px;
}

.profile img,
.profile figcaption {
  display: inline-block;
  /* vertical-align: top;
  margin-top: 1em; */
  margin-bottom: -9px;
}
.profile img {
  border-radius: 100%;
  width: 65px;
  height: 65px;
  margin-right: 1em;
}
.profile figcaption h3 {
  margin-top: 0;
}

#about h6 {
  color: #858585;
  margin: 0;
}
/*------------------------------------------------Aboutus-----------------------------------------------*/
#service{
  margin-top: 20px;
}
/***************************************
cta-1
***************************************/
.schedule-tab {
  background-color: #0CB8B6;
  float: left;
}

.medi-info {
  border-right: 1px solid #fff;
}

.medi-info,
.time-info {
  padding: 20px;
  color: #fff;
}

.medi-info h3,
.time-info h3 {
  padding-bottom: 16px;
  color: #fff;
  font-weight: 600;
}

.medi-info-btn,
.medi-info-btn:hover,
.medi-info-btn:focus {
  margin: 15px 0px 5px;
  display: inline-block;
  border: solid white 2px;
  padding: 3px 8px;
  font-size: 12px;
  color: #fff;
  font-weight: 400 !important;
  cursor: pointer;
}

td {
  border: 0px solid #ededed;
  border-top: 1px solid rgba(216, 216, 216, 0.5);
  padding: 6px 10px 6px 0;
}

.medi-info,
.time-info {
  font-size: 14px;
}

/***************************************
about
***************************************/
#aboutus {
    background-image: linear-gradient(to bottom, rgb(158 185 189 / 6%) 0%, rgb(103 156 165 / 36%) 100%),url('../image/abback.png');
    background-image: rgba(20, 20, 20, 0.2);
    background-size: cover;
    padding-top: 50px;
}

.lg-line {
  line-height: 1.4;
  font-size: 28px;
}

.more-features-box-text-icon {
  float: left;
  width: 40px;
  height: 40px;
  padding-top: 6px;
  background: #0cb8b6;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  text-align: center;
}

.more-features-box-text-description h3 {
  padding-bottom: 15px;
}

.more-features-box-text-icon i {
  font-size: 18px;
  line-height: 26px;
}

.more-features-box-text-description {
  margin-left: 80px;
  margin-bottom: 35px;
}

.sec-para {
  padding-bottom: 10px;
      color: black;
      font-size: 20px;
}

/***************************************
doctor team
***************************************/
.thumbnail {
  border-radius: 0px;
}

.caption h3 {
  padding-bottom: 5px;
}

.caption p {
  padding-bottom: 10px;
}

/***************************************
testimonial
***************************************/
#testimonial {
  background-color: #eee;
}

.testi-details {
  background: #fff;
  padding: 14px 24px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.18);
  position: relative;
}

.testi-info a {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

.testi-info a img {
  border-radius: 50%;
}

.testi-info h3 {
  display: inline-block;
  line-height: 22px;
  font-weight: 600;
  color: #000;
  margin-top: 8px;
}

.testi-info h3>span {
  display: block;
  line-height: 16px;
  font-weight: 400;
}

.testi-details::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-left: 0;
  bottom: -40px;
  left: 56px;
  border-top-color: #fff;
  border-width: 20px;
}

.testi-details::before {
  content: '';
  position: absolute;
  transform: rotate(45deg);
  width: 0px;
  height: 0px;
  bottom: -30px;
  left: 45px;
  border-style: solid;
  border-width: 15px;
  border-color: transparent;
  z-index: -1;
  box-shadow: 3px -13px 5px 0px rgba(0, 0, 0, 0.18);
  border-left: 0;
}

/***************************************
cta -2
***************************************/
#cta-2 {
  background-color: rgb(41, 48, 46);
}

.white {
  color: #fff;
}

.text-primary {
  color: #0cb8b6;
}

.aboutusRow{
  padding: 20px;
}
.service-info{
  border: 1px solid #a5c422;
  border-radius: 10px;
  background-color: rgba(249, 249, 255, 0.102);
  padding: 31px 40px 37px;
  color: #fff;
  margin-bottom: 30px;
}
.service-info i{
    color: #a5c422;
    font-size: 24px;
    line-height: 38px;
    display: inline-block;
    vertical-align: bottom;
    padding-right: 20px;
}
/*------------------------------------------------Department-----------------------------------------------*/
#depMember {
  display: grid;
  text-align: center;
}
.depPic {
  width: 100%;
  max-height: 500px;
}
#depImg {
  width: 95%;
  height: 95%;
  transform: none;
}
/*---------------------------------------------Doctors--------------------------------------------*/
.doctors {
  background: #fff;
}
.doctors .section-title {
  text-align: center;
  padding: 40px;
}
.doctors .member {
  position: relative;
  box-shadow: 0px 2px 15px rgba(44, 73, 100, 0.08);
  padding: 30px;
  border-radius: 10px;
  display: flex;
}
.doctors .member .pic {
  overflow: hidden;
  width: 200px;
}
.doctors .member .pic img {
  transition: ease-in-out 0.3s;
}
.doctors .member:hover img {
  transform: scale(1.1);
}
.doctors .member .member-info {
  padding-left: 30px;
}
.doctors .member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #2c4964;
}
.doctors .member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}
.doctors .member span::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #b2c8dd;
  bottom: 0;
  left: 0;
}
.doctors .member p {
  margin: 10px 0 0 0;
  font-size: 16px;
}
.doctors .member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.doctors .member .social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 45px;
  height: 45px;
  font-size: 22px;
  background: #a9c239;
  color: white;
}
.doctors .member .social a i {
  color: #fff;
  font-size: 16px;
  margin: 0 2px;
}
.doctors .member .social a:hover {
  background: #1977cc;
}
.doctors .member .social a + a {
  margin-left: 8px;
}
/*-----------------------------------------------
                Contact page
------------------------------------------------*/
.contactUs {
  position: relative;
  background: linear-gradient(
    90deg,
    rgb(65, 63, 63) 0%,
    rgb(65, 63, 63) 30%,
    #a9c239 30%,
    #a9c239 100%
  );
  width: 100%;
  padding: 40px 100px;
}
.contactUs .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.contactUs .title h2 {
  color: white;
}
.form {
  grid-area: form;
}

.info {
  grid-area: info;
}

.map {
  grid-area: map;
}

.contact {
  padding: 40px;
  background: white;
  box-shadow: 0 5px 35px black;
}

.box {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas:
    'form info'
    'form map';
  grid-gap: 20px;
}

.contact h3 {
  color: #2e6631;
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom: 10px;
}

.formBox {
  position: relative;
  width: 100%;
}

.formBox .row50 {
  display: flex;
  gap: 20px;
}
.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}

.formBox .row100 .inputBox {
  width: 100%;
}

.inputBox span {
  color: #a9c239;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

.inputBox input {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid black;
}

.inputBox textarea {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid black;
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
}

.inputBox input[type='submit'] {
  background: #a9c239;
  color: white;
  border: none;
  font-size: 1.1em;
  max-width: 120px;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;
}

.inputBox ::placeholder {
  color: #7e7979;
}

.info {
  background: #4267b2;
}
.info h3 {
  text-align: center;
  color: white;
  font-size: 1.5em;
}
.info .inputBox div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.info .infoBox div span {
  width: 40px;
  height: 40px;
  color: white;
  background: #a9c239;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 50%;
  margin-right: 15px;
}
.info .infoBox div p {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}
.info .infoBox div a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}
.sci {
  justify-content: center;
  display: flex;
}
.sci li {
  list-style: none;
  margin-right: 15px;
}
.sci li a {
  color: green;
  font-size: 2em;
  color: white;
}
.sci li a:hover {
  color: #a9c239;
}
.map {
  padding: 0;
}
.map iframe {
  width: 100%;
  height: 100%;
}
/*---------------------------------------
     login page              
  -----------------------------------------*/
.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

.loginContainer {
  width: 100vw;
  height: 78vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
}
#signupContainer {
  height: 100%;
}

.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.img img {
  width: 830px;
}

#loginForm {
  width: 550px;
}

.login-content img {
  height: 170px;
}

.login-content h2 {
  margin: 15px 0;
  color: #333;
  text-transform: uppercase;
  font-size: 2.9rem;
}

.login-content .input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
  margin-top: 0;
}

.i {
  color: #a9c239;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.i i {
  transition: 0.3s;
}

.input-div > div {
  position: relative;
  height: 45px;
}

.input-div > div > h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-80%);
  color: #999;
  font-size: 18px;
  transition: 0.3s;
}

.input-div:before,
.input-div:after {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #38d39f;
  transition: 0.4s;
}

.input-div:before {
  right: 50%;
}

.input-div:after {
  left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
  width: 50%;
}

.input-div.focus > div > h5 {
  top: -5px;
  font-size: 15px;
}

.input-div.focus > .i > i {
  color: #38d39f;
}

.input-div > div > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.8rem;
  color: #555;
  font-family: 'poppins', sans-serif;
}

.input-div.pass {
  margin-bottom: 4px;
}

/* a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  transition: 0.3s;
} */

a:hover {
  color: #38d39f;
}

.loginBtn {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #a9c239, #a9c239, #a9c239);
  background-size: 200%;
  font-size: 1.5rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
}
.loginBtn:hover {
  background-position: right;
}
/*---------------------------------------
      Sign Up Form              
  -----------------------------------------*/
#signupForm {
  width: 80%;
}
/*--------------------------------------------------
Lab report
-----------------------------------------------------*/
.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  padding: 15px;
  margin: 10px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover span {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .MRIScan:hover {
  background-color: #3b5999;
  color: #ffffff;
  transition: 0.8s;
}

.wrapper .XRayScan:hover {
  background-color: #000000;
  color: #ffffff;
  transition: 0.8s;
}

.wrapper .BloodTest:hover {
  background-color: #e1306c;
  color: #ffffff;
  transition: 0.8s;
}

.wrapper .Endoscopy:hover {
  background-color: #46c1f6;
  color: #ffffff;
  transition: 0.8s;
}
/*---------------------------------------
      Medical report              
  -----------------------------------------*/
#textArea {
  max-width: 100%;
  padding-left: 10px;
}
#medicalReport {
  padding-left: 150px;
  padding-right: 150px;
}
/*---------------------------------------
      Booking Form              
  -----------------------------------------*/
#bookingField {
  margin-bottom: 0;
}
#bookingMoreBtn {
  margin-top: 10px;
  margin-left: 20px;
}

/*---------------------------------------
     Help page              
  -----------------------------------------*/

.container-fluid {
  width: 50%;
  margin: 0 auto;
}

.container-fluid h2 {
  color: black;
  position: relative;
}

.accordion {
  width: 100%;
  padding: 0 5px;
  border: 2px solid #a9c239;
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  margin: 10px 0;
  align-items: center;
}

.accordion .icon {
  margin: 0 10px 0 0;
  width: 30px;
  height: 30px;
  background: url('../image/plus.png') no-repeat 4px 5px #a9c239;
  border-radius: 50%;
  float: left;
  transition: all 0.5s ease-in;
}

/*---------------------------------------
     User Profile              
  -----------------------------------------*/
.main-body {
  padding: 15px;
}
.card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 2rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm > .col,
.gutters-sm > [class*='col-'] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
  font-size: 16px;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100% !important;
}
.shadow-none {
  box-shadow: none !important;
}
#emptyAppoitments {
  text-align: center;
  font-size: 50px;
  /* background-color: green; */
  background-clip: border-box;
}

/*---------------------------------------
     user Profile edit              
  -----------------------------------------*/
  #userEdit{
    width: 100%;
    padding-left: 130px;
    padding-right: 130px;
  }
/*---------------------------------------
     doctor Profile              
  -----------------------------------------*/

.bg-modal {
  width: 100%;
  height: 100%;
  top: 2%;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-contents {
  width: 500px;
  background-color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  border-radius: 4px;
}

.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 42px;
  color: #333;
  transform: rotate(45deg);
  cursor: pointer;
}
#timeChange {
  width: 80%;
  height: 50px;
}

/*=================
footer css start==============*/
.animate-border {
  position: relative;
  display: block;
  width: 156px;
  height: 3px;
  background: #a9c239;
}

@-webkit-keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px);
  }
}

@keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px);
  }
}

.animate-border.border-white:after {
  border-color: #fff;
}

.animate-border.border-yellow:after {
  border-color: #f5b02e;
}

.animate-border.border-orange:after {
  border-right-color: #007bff;
  border-left-color: #007bff;
}

.animate-border.border-ash:after {
  border-right-color: #eef0ef;
  border-left-color: #eef0ef;
}

.animate-border.border-offwhite:after {
  border-right-color: #f7f9f8;
  border-left-color: #f7f9f8;
}

/* Animated heading border */
@keyframes primary-short {
  0% {
    width: 15%;
  }
  50% {
    width: 90%;
  }
  100% {
    width: 10%;
  }
}

@keyframes primary-long {
  0% {
    width: 80%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

.dk-footer {
  padding: 30px 0 0;
  background-color: #303030;
  position: relative;
  z-index: 2;
}
.dk-footer .contact-us {
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 80px;
}
.dk-footer .contact-us .contact-info {
  margin-left: 50px;
}
.dk-footer .contact-us.contact-us-last {
  margin-left: -80px;
}
.dk-footer .contact-icon i {
  font-size: 24px;
  top: -15px;
  position: relative;
  color: #007bff;
}

.dk-footer-box-info {
  position: relative;
  background: #ffffff;
  padding: 40px;
  z-index: 2;
}
.dk-footer-box-info .footer-social-link h3 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  margin-bottom: 25px;
}
.dk-footer-box-info .footer-social-link ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
}
.dk-footer-box-info .footer-social-link li {
  display: inline-block;
  padding-left: 10px;
}
.dk-footer-box-info .footer-social-link a i {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  background: #000;
  margin-right: 5px;
  color: #fff;
}
.dk-footer-box-info .footer-social-link a i.fa-facebook {
  background-color: #3b5998;
}
.dk-footer-box-info .footer-social-link a i.fa-twitter {
  background-color: #55acee;
}
.dk-footer-box-info .footer-social-link a i.fa-google-plus {
  background-color: #dd4b39;
}
.dk-footer-box-info .footer-social-link a i.fa-linkedin {
  background-color: #0976b4;
}
.dk-footer-box-info .footer-social-link a i.fa-instagram {
  background-color: #b7242a;
}

.footer-awarad {
  margin-top: 285px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer-awarad p {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-left: 20px;
  padding-top: 15px;
}

.footer-info-text {
  margin: 26px 0 32px;
}

.footer-left-widget {
  padding-left: 80px;
}

.footer-widget .section-heading {
  margin-bottom: 35px;
}

.footer-widget h3 {
  font-size: 24px;
  color: #fff;
  position: relative;
  margin-bottom: 15px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.footer-widget ul {
  width: 50%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-widget li {
  margin-bottom: 18px;
}

.footer-widget p {
  margin-bottom: 27px;
}

.footer-widget a {
  color: #878787;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.footer-widget a:hover {
  color: #007bff;
}

.footer-widget:after {
  content: '';
  display: block;
  clear: both;
}

.dk-footer-form {
  position: relative;
}
.dk-footer-form input[type='email'] {
  padding: 14px 28px;
  border-radius: 50px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
}
.dk-footer-form input::-webkit-input-placeholder,
.dk-footer-form input::-moz-placeholder,
.dk-footer-form input:-ms-input-placeholder,
.dk-footer-form input::-ms-input-placeholder,
.dk-footer-form input::-webkit-input-placeholder {
  color: #878787;
  font-size: 14px;
}
.dk-footer-form input::-webkit-input-placeholder,
.dk-footer-form input::-moz-placeholder,
.dk-footer-form input:-ms-input-placeholder,
.dk-footer-form input::-ms-input-placeholder,
.dk-footer-form input::placeholder {
  color: #878787;
  font-size: 14px;
}
.dk-footer-form button[type='submit'] {
  position: relative;
  top: 0;
  right: 0;
  padding: 12px 24px 12px 17px;
  border-radius: 15px;
  border: 1px solid #007bff;
  background: #007bff;
  color: #fff;
}
.dk-footer-form button:hover {
  cursor: pointer;
}

/* ==========================

    Contact

=============================*/
.contact-us {
  position: relative;
  z-index: 2;
  margin-top: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-icon {
  position: absolute;
}
.contact-icon i {
  font-size: 36px;
  top: -5px;
  position: relative;
  color: #007bff;
}

.contact-info {
  margin-left: 75px;
  color: #fff;
}
.contact-info h3 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 0;
}

.copyright {
  padding: 16px 0;
  margin-top: 17px;
  background-color: #a9c239;
}
.copyright span,
.copyright a {
  color: #000000;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.copyright a:hover {
  color: #007bff;
}

.copyright-menu ul {
  text-align: right;
  margin: 0;
}

.copyright-menu li {
  display: inline-block;
  padding-left: 20px;
}

.back-to-top {
  position: relative;
  z-index: 2;
}
.back-to-top .btn-dark {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #2e2e2e;
  border-color: #2e2e2e;
  display: none;
  z-index: 999;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.back-to-top .btn-dark:hover {
  cursor: pointer;
  background: #fa6742;
  border-color: #fa6742;
}
#footerContact {
  padding: 0;
  background-color: #303030;
  box-shadow: none;
}

#footerInput {
  background-color: #2e2e2e;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 9px;
  border: 1px solid #2e2e2e;
}

/*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/
@media only screen and (max-width: 1480px) {
  .loginContainer {
    grid-gap: 5rem;
  }
  #loginForm {
    width: 350px;
  }
  form {
    max-width: 1163px;
  }

  .login-content h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }

  .img img {
    width: 400px;
  }
}

@media only screen and (max-width: 1420px) {
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 1.5em;
  }

  header {
    height: inherit;
  }
  header span.date-icon {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
  header span.email-icon {
    padding-top: 0;
  }

  .navbar-default .navbar-nav li a {
    padding-right: 15px;
    padding-left: 15px;
  }
  .box {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'form'
      'info'
      'map';
    grid-gap: 20px;
  }
  .map {
    min-height: 300px;
  }
  .formBox .row50 {
    display: flex;
    gap: 0;
    flex-direction: column;
  }
  .inputBox {
    width: 100%;
  }
  .contact {
    padding: 40px;
  }
  .loginContainer {
    grid-gap: 5rem;
  }
  #loginForm {
    width: 350px;
  }
}

@media only screen and (max-width: 992px) {
  .slider .item {
    background-position: center;
  }

  header {
    padding-bottom: 10px;
  }
  header .text-align-right {
    text-align: left;
  }
  header span {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
  .contactUs {
    position: relative;
    background: #a9c239;
  }
  .box {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'form'
      'info'
      'map';
    grid-gap: 20px;
  }
  .map {
    min-height: 300px;
  }
  form {
    max-width: 1163px;
  }

  .login-content h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }

  .img img {
    width: 400px;
  }
  .loginContainer {
    grid-template-columns: 1fr;
  }

  .img {
    display: none;
  }

  .login-content {
    justify-content: center;
  }
  #medicalReport {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: transparent;
  }
  .navbar-default .navbar-nav li.appointment-btn {
    margin-left: 15px;
  }
  .navbar-default .navbar-nav li a {
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .loginContainer {
    grid-template-columns: 1fr;
  }

  .img {
    display: none;
  }

  .login-content {
    justify-content: center;
  }
}

@media only screen and (max-width: 639px) {
  h1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  h2 {
    font-size: 2.1em;
  }
  h4 {
    font-size: 1.4em;
  }

  #home h3 {
    font-size: 11px;
    letter-spacing: 1px;
  }
}
