@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');

body {
  background: #ffffff;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

/*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: inherit;
}

h1,
h2,
h3,
h4 {
  letter-spacing: -1px;
}

h5 {
  font-weight: 500;
}

h1 {
  color: #252525;
  font-size: 5em;
}

h2 {
  color: #272727;
  font-size: 3em;
  padding-bottom: 10px;
}

h3 {
  font-size: 1.8em;
  line-height: 1.2em;
  margin-bottom: 0;
  padding-bottom: 10px;
}

h4 {
  color: #454545;
  font-size: 1.8em;
  padding-bottom: 2px;
}

h6 {
  letter-spacing: 0;
  font-weight: normal;
}

p {
  color: #757575;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
}

/*---------------------------------------
     GENERAL               
  -----------------------------------------*/

html {
  -webkit-font-smoothing: antialiased;
}

a {
  color: #252525;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}

a:hover,
a:active,
a:focus {
  color: #a5c422;
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #000000;
}

.section-title {
  padding-bottom: 20px;
}

.section-title h2 {
  margin-top: 0;
}

.section-btn {
  background: #a5c422;
  border: 0;
  border-radius: 3px;
  color: #ffffff;
  font-size: inherit;
  font-weight: 500;
  padding: 14px 20px;
  transition: transform 0.1s ease-in;
  transform: translateX(0);
  margin-bottom: 10px;
  margin-top: 20px;
}

.section-btn:hover {
  transform: translateY(-5px);
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.border-top {
  border-top: 1px solid #f2f2f2;
  margin-top: 4em;
  padding-top: 2.5em;
}

.btn-gray {
  background: #393939;
}

.btn-blue {
  background: #4267b2;
}

#about,
#team,
#news,
#news-detail {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

/*---------------------------------------
      Header              
  -----------------------------------------*/

header {
  background: #ffffff;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  height: 45px;
}

header .col-md-8 {
  padding-right: 0;
}

header p,
header span {
  font-size: 12px;
  line-height: 24px;
}

header a,
header span {
  color: #747474;
  padding: 10px;
}

header span {
  font-weight: 500;
  display: inline-block;
  padding: 11px 15px;
}

header span.date-icon {
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  padding-right: 19px;
  padding-left: 19px;
}

header span i {
  color: #a5c422;
  margin-right: 5px;
}

/*---------------------------------------
      NAVMENU              
  -----------------------------------------*/

.navbar-default {
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.075);
  border: none;
  margin-bottom: 0;
  padding: 10px;
}

.navbar-default .navbar-brand {
  color: #393939;
  font-weight: 500;
}

.navbar-default .navbar-brand .fa {
  color: #a5c422;
}

.navbar-default .navbar-nav li.appointment-btn {
  margin: 3px 0 0 20px;
}

.navbar-default .navbar-nav li.appointment-btn a {
  background: #a5c422;
  border-radius: 3px;
  color: #ffffff;
  font-weight: 600;
  padding-top: 12px;
  padding-bottom: 12px;
}

.navbar-default .navbar-nav li.appointment-btn a:hover {
  background: #4267b2;
  color: #ffffff !important;
}

.navbar-default .navbar-nav li a {
  color: #555555;
  font-size: 18px;
  font-weight: 500;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.navbar-default .navbar-nav > li a:hover {
  color: #a5c422 !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #a5c422;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #a5c422;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border: none;
  padding-top: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
  background: #a5c422;
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
/*---------------------------------------
      DropDown List              
  -----------------------------------------*/

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: #a9c239;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: '';
  top: 14px;
  right: -290px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  width: 500px;
  font-size: 1.8rem;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #758b12;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  width: 500px;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/*---------------------------------------
      Slider              
  -----------------------------------------*/

#home h1 {
  color: #ffffff;
  padding-bottom: 10px;
  margin-top: 0;
}

#home h3 {
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  line-height: inherit;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0;
}

.slider .container {
  width: 100%;
}

.slider .owl-dots {
  position: absolute;
  top: 575px;
  width: 100%;
  justify-content: center;
}

.owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  margin: 5px 7px;
  border: 2px solid #d9d9d9;
  background: transparent;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #ffffff;
  border-color: transparent;
}

.slider .caption {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(20, 20, 20, 0.2);
  height: 100%;
  color: #fff;
  cursor: e-resize;
}

.slider .item {
  background-position: inherit;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  height: 650px;
}

.slider .item-first {
  background-image: url('../image/slider1.jpg');
}

.slider .item-second {
  background-image: url('../image/slider2.png');
}

.slider .item-third {
  background-image: url('../image/slider3.jpg');
}

/*---------------------------------------
      Introduction              
  -----------------------------------------*/

#about {
  background: url('../image/about-bg.jpg') no-repeat top center;
  background-size: cover;
  padding-top: 150px;
}

.profile img,
.profile figcaption {
  display: inline-block;
  vertical-align: top;
  margin-top: 1em;
}
.profile img {
  border-radius: 100%;
  width: 65px;
  height: 65px;
  margin-right: 1em;
}
.profile figcaption h3 {
  margin-top: 0;
}

#about h6 {
  color: #858585;
  margin: 0;
}
/*---------------------------------------------Doctors--------------------------------------------*/
.doctors {
  background: #fff;
}
.doctors .section-title {
  text-align: center;
  padding: 40px;
}
.doctors .member {
  position: relative;
  box-shadow: 0px 2px 15px rgba(44, 73, 100, 0.08);
  padding: 30px;
  border-radius: 10px;
  display: flex;
}
.doctors .member .pic {
  overflow: hidden;
  width: 180px;
}
.doctors .member .pic img {
  transition: ease-in-out 0.3s;
}
.doctors .member:hover img {
  transform: scale(1.1);
}
.doctors .member .member-info {
  padding-left: 30px;
}
.doctors .member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #2c4964;
}
.doctors .member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}
.doctors .member span::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #b2c8dd;
  bottom: 0;
  left: 0;
}
.doctors .member p {
  margin: 10px 0 0 0;
  font-size: 16px;
}
.doctors .member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.doctors .member .social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 45px;
  height: 45px;
  font-size: 22px;
  background: #a9c239;
  color: white;
}
.doctors .member .social a i {
  color: #fff;
  font-size: 16px;
  margin: 0 2px;
}
.doctors .member .social a:hover {
  background: #1977cc;
}
.doctors .member .social a + a {
  margin-left: 8px;
}
/*-----------------------------------------------
                Contact page
------------------------------------------------*/
.contactUs {
  position: relative;
  background: linear-gradient(
    90deg,
    rgb(65, 63, 63) 0%,
    rgb(65, 63, 63) 30%,
    #a9c239 30%,
    #a9c239 100%
  );
  width: 100%;
  padding: 40px 100px;
}
.contactUs .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.contactUs .title h2 {
  color: white;
}
.form {
  grid-area: form;
}

.info {
  grid-area: info;
}

.map {
  grid-area: map;
}

.contact {
  padding: 40px;
  background: white;
  box-shadow: 0 5px 35px black;
}

.box {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas:
    'form info'
    'form map';
  grid-gap: 20px;
}

.contact h3 {
  color: #2e6631;
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom: 10px;
}

.formBox {
  position: relative;
  width: 100%;
}

.formBox .row50 {
  display: flex;
  gap: 20px;
}
.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}

.formBox .row100 .inputBox {
  width: 100%;
}

.inputBox span {
  color: #a9c239;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

.inputBox input {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid black;
}

.inputBox textarea {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid black;
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
}

.inputBox input[type='submit'] {
  background: #a9c239;
  color: white;
  border: none;
  font-size: 1.1em;
  max-width: 120px;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;
}

.inputBox ::placeholder {
  color: #7e7979;
}

.info {
  background: #4267b2;
}
.info h3 {
  text-align: center;
  color: white;
  font-size: 1.5em;
}
.info .inputBox div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.info .infoBox div span {
  width: 40px;
  height: 40px;
  color: white;
  background: #a9c239;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 50%;
  margin-right: 15px;
}
.info .infoBox div p {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}
.info .infoBox div a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}
.sci {
  justify-content: center;
  display: flex;
}
.sci li {
  list-style: none;
  margin-right: 15px;
}
.sci li a {
  color: green;
  font-size: 2em;
  color: white;
}
.sci li a:hover {
  color: #a9c239;
}
.map {
  padding: 0;
}
.map iframe {
  width: 100%;
  height: 100%;
}
/*---------------------------------------
     login page              
  -----------------------------------------*/
.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

.loginContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
}

.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.img img {
  width: 830px;
}

#loginForm {
  width: 550px;
}

.login-content img {
  height: 100px;
}

.login-content h2 {
  margin: 15px 0;
  color: #333;
  text-transform: uppercase;
  font-size: 2.9rem;
}

.login-content .input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
  margin-top: 0;
}

.i {
  color: #a9c239;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.i i {
  transition: 0.3s;
}

.input-div > div {
  position: relative;
  height: 45px;
}

.input-div > div > h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-80%);
  color: #999;
  font-size: 18px;
  transition: 0.3s;
}

.input-div:before,
.input-div:after {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #38d39f;
  transition: 0.4s;
}

.input-div:before {
  right: 50%;
}

.input-div:after {
  left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
  width: 50%;
}

.input-div.focus > div > h5 {
  top: -5px;
  font-size: 15px;
}

.input-div.focus > .i > i {
  color: #38d39f;
}

.input-div > div > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.8rem;
  color: #555;
  font-family: 'poppins', sans-serif;
}

.input-div.pass {
  margin-bottom: 4px;
}

/* a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  transition: 0.3s;
} */

a:hover {
  color: #38d39f;
}

.loginBtn {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #a9c239, #a9c239, #a9c239);
  background-size: 200%;
  font-size: 1.5rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
}
.loginBtn:hover {
  background-position: right;
}
/*---------------------------------------
      Sign Up Form              
  -----------------------------------------*/
#signupForm {
  width: 550px;
}

/*---------------------------------------
     Help page              
  -----------------------------------------*/

.container-fluid {
  width: 50%;
  margin: 0 auto;
}

.container-fluid h2 {
  color: black;
  position: relative;
}

.accordion {
  width: 100%;
  padding: 0 5px;
  border: 2px solid #a9c239;
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  margin: 10px 0;
  align-items: center;
}

.accordion .icon {
  margin: 0 10px 0 0;
  width: 30px;
  height: 30px;
  background: url('../image/plus.png') no-repeat 4px 5px #a9c239;
  border-radius: 50%;
  float: left;
  transition: all 0.5s ease-in;
}

/*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/
@media only screen and (max-width: 1480px) {
  .loginContainer {
    grid-gap: 5rem;
  }
  #loginForm {
    width: 350px;
  }
  form {
    width: 290px;
  }

  .login-content h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }

  .img img {
    width: 400px;
  }
}

@media only screen and (max-width: 1420px) {
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 1.5em;
  }

  header {
    height: inherit;
  }
  header span.date-icon {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
  header span.email-icon {
    padding-top: 0;
  }

  .navbar-default .navbar-nav li a {
    padding-right: 15px;
    padding-left: 15px;
  }
  .box {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'form'
      'info'
      'map';
    grid-gap: 20px;
  }
  .map {
    min-height: 300px;
  }
  .formBox .row50 {
    display: flex;
    gap: 0;
    flex-direction: column;
  }
  .inputBox {
    width: 100%;
  }
  .contact {
    padding: 40px;
  }
  .loginContainer {
    grid-gap: 5rem;
  }
  #loginForm {
    width: 350px;
  }
}

@media only screen and (max-width: 992px) {
  .slider .item {
    background-position: center;
  }

  header {
    padding-bottom: 10px;
  }
  header .text-align-right {
    text-align: left;
  }
  header span {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
  .contactUs {
    position: relative;
    background: #a9c239;
  }
  .box {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'form'
      'info'
      'map';
    grid-gap: 20px;
  }
  .map {
    min-height: 300px;
  }
  form {
    width: 290px;
  }

  .login-content h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }

  .img img {
    width: 400px;
  }
  .loginContainer {
    grid-template-columns: 1fr;
  }

  .img {
    display: none;
  }

  .login-content {
    justify-content: center;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: transparent;
  }
  .navbar-default .navbar-nav li.appointment-btn {
    margin-left: 15px;
  }
  .navbar-default .navbar-nav li a {
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .loginContainer {
    grid-template-columns: 1fr;
  }

  .img {
    display: none;
  }

  .login-content {
    justify-content: center;
  }
}

@media only screen and (max-width: 639px) {
  h1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  h2 {
    font-size: 2.1em;
  }
  h4 {
    font-size: 1.4em;
  }

  #home h3 {
    font-size: 11px;
    letter-spacing: 1px;
  }
}
