@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');

body {
  background: #ffffff;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

/*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: inherit;
}

h1,
h2,
h3,
h4 {
  letter-spacing: -1px;
}

h5 {
  font-weight: 500;
}

h1 {
  color: #252525;
  font-size: 5em;
}

h2 {
  color: #272727;
  font-size: 3em;
  padding-bottom: 10px;
}

h3 {
  font-size: 1.8em;
  line-height: 1.2em;
  margin-bottom: 0;
  padding-bottom: 10px;
}

h4 {
  color: #454545;
  font-size: 1.8em;
  padding-bottom: 2px;
}

h6 {
  letter-spacing: 0;
  font-weight: normal;
}

p {
  color: #757575;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
}

/*---------------------------------------
     GENERAL               
  -----------------------------------------*/

html {
  -webkit-font-smoothing: antialiased;
}

a {
  color: #252525;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}

a:hover,
a:active,
a:focus {
  color: #a5c422;
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #000000;
}

.section-title {
  padding-bottom: 20px;
}

.section-title h2 {
  margin-top: 0;
}

.section-btn {
  background: #a5c422;
  border: 0;
  border-radius: 3px;
  color: #ffffff;
  font-size: inherit;
  font-weight: 500;
  padding: 14px 20px;
  transition: transform 0.1s ease-in;
  transform: translateX(0);
}

.section-btn:hover {
  transform: translateY(-5px);
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.border-top {
  border-top: 1px solid #f2f2f2;
  margin-top: 4em;
  padding-top: 2.5em;
}

.btn-gray {
  background: #393939;
}

.btn-blue {
  background: #4267b2;
}

#about,
#team,
#news,
#news-detail {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

/*---------------------------------------
      Header              
  -----------------------------------------*/

header {
  background: #ffffff;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  height: 45px;
}

header .col-md-8 {
  padding-right: 0;
}

header p,
header span {
  font-size: 12px;
  line-height: 24px;
}

header a,
header span {
  color: #747474;
  padding: 10px;
}

header span {
  font-weight: 500;
  display: inline-block;
  padding: 11px 15px;
}

header span.date-icon {
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  padding-right: 19px;
  padding-left: 19px;
}

header span i {
  color: #a5c422;
  margin-right: 5px;
}

/*---------------------------------------
      NAVMENU              
  -----------------------------------------*/

.navbar-default {
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.075);
  border: none;
  margin-bottom: 0;
  padding: 10px;
}

.navbar-default .navbar-brand {
  color: #393939;
  font-weight: 500;
}

.navbar-default .navbar-brand .fa {
  color: #a5c422;
}

.navbar-default .navbar-nav li.appointment-btn {
  margin: 3px 0 0 20px;
}

.navbar-default .navbar-nav li.appointment-btn a {
  background: #a5c422;
  border-radius: 3px;
  color: #ffffff;
  font-weight: 600;
  padding-top: 12px;
  padding-bottom: 12px;
}

.navbar-default .navbar-nav li.appointment-btn a:hover {
  background: #4267b2;
  color: #ffffff !important;
}

.navbar-default .navbar-nav li a {
  color: #555555;
  font-size: 18px;
  font-weight: 500;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.navbar-default .navbar-nav > li a:hover {
  color: #a5c422 !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #a5c422;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #a5c422;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border: none;
  padding-top: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
  background: #a5c422;
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
/*---------------------------------------
      Slider              
  -----------------------------------------*/

#home h1 {
  color: #ffffff;
  padding-bottom: 10px;
  margin-top: 0;
}

#home h3 {
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  line-height: inherit;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0;
}

.slider .container {
  width: 100%;
}

.slider .owl-dots {
  position: absolute;
  top: 575px;
  width: 100%;
  justify-content: center;
}

.owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  margin: 5px 7px;
  border: 2px solid #d9d9d9;
  background: transparent;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #ffffff;
  border-color: transparent;
}

.slider .caption {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(20, 20, 20, 0.2);
  height: 100%;
  color: #fff;
  cursor: e-resize;
}

.slider .item {
  background-position: inherit;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  height: 650px;
}

.slider .item-first {
  background-image: url('../image/slider1.jpg');
}

.slider .item-second {
  background-image: url('../image/slider2.png');
}

.slider .item-third {
  background-image: url('../image/slider3.jpg');
}

/*---------------------------------------
      Introduction              
  -----------------------------------------*/

#about {
  background: url('../image/about-bg.jpg') no-repeat top center;
  background-size: cover;
  padding-top: 150px;
}

.profile img,
.profile figcaption {
  display: inline-block;
  vertical-align: top;
  margin-top: 1em;
}
.profile img {
  border-radius: 100%;
  width: 65px;
  height: 65px;
  margin-right: 1em;
}
.profile figcaption h3 {
  margin-top: 0;
}

#about h6 {
  color: #858585;
  margin: 0;
}

/*-----------------------------------------------
                Contact page
------------------------------------------------*/
.contactUs {
  position: relative;
  background: linear-gradient(
    90deg,
    rgb(65, 63, 63) 0%,
    rgb(65, 63, 63) 30%,
    #a9c239 30%,
    #a9c239 100%
  );
  width: 100%;
  padding: 40px 100px;
}
.contactUs .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.contactUs .title h2 {
  color: white;
}
.form {
  grid-area: form;
}

.info {
  grid-area: info;
}

.map {
  grid-area: map;
}

.contact {
  padding: 40px;
  background: white;
  box-shadow: 0 5px 35px black;
}

.box {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas:
    'form info'
    'form map';
  grid-gap: 20px;
}

.contact h3 {
  color: #2e6631;
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom: 10px;
}

.formBox {
  position: relative;
  width: 100%;
}

.formBox .row50 {
  display: flex;
  gap: 20px;
}
.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}

.formBox .row100 .inputBox {
  width: 100%;
}

.inputBox span {
  color: #a9c239;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

.inputBox input {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid black;
}

.inputBox textarea {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid black;
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
}

.inputBox input[type='submit'] {
  background: #a9c239;
  color: white;
  border: none;
  font-size: 1.1em;
  max-width: 120px;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;
}

.inputBox ::placeholder {
  color: #7e7979;
}

.info {
  background: #4267b2;
}
.info h3 {
  text-align: center;
  color: white;
  font-size: 1.5em;
}
.info .inputBox div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.info .infoBox div span {
  width: 40px;
  height: 40px;
  color: white;
  background: #a9c239;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 50%;
  margin-right: 15px;
}
.info .infoBox div p {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}
.info .infoBox div a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}
.sci {
  justify-content: center;
  display: flex;
}
.sci li {
  list-style: none;
  margin-right: 15px;
}
.sci li a {
  color: green;
  font-size: 2em;
  color: white;
}
.sci li a:hover {
  color: #a9c239;
}
.map {
  padding: 0;
}
.map iframe {
  width: 100%;
  height: 100%;
}
/*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 1.5em;
  }

  header {
    height: inherit;
  }
  header span.date-icon {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
  header span.email-icon {
    padding-top: 0;
  }

  .navbar-default .navbar-nav li a {
    padding-right: 15px;
    padding-left: 15px;
  }
  .box {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'form'
      'info'
      'map';
    grid-gap: 20px;
  }
  .map {
    min-height: 300px;
  }
  .formBox .row50 {
    display: flex;
    gap: 0;
    flex-direction: column;
  }
  .inputBox {
    width: 100%;
  }
  .contact {
    padding: 40px;
  }
}

@media only screen and (max-width: 992px) {
  .slider .item {
    background-position: center;
  }

  header {
    padding-bottom: 10px;
  }
  header .text-align-right {
    text-align: left;
  }
  header span {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
  .contactUs {
    position: relative;
    background: #a9c239;
  }
  .box {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'form'
      'info'
      'map';
    grid-gap: 20px;
  }
  .map {
    min-height: 300px;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: transparent;
  }
  .navbar-default .navbar-nav li.appointment-btn {
    margin-left: 15px;
  }
  .navbar-default .navbar-nav li a {
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

@media only screen and (max-width: 639px) {
  h1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  h2 {
    font-size: 2.1em;
  }
  h4 {
    font-size: 1.4em;
  }

  #home h3 {
    font-size: 11px;
    letter-spacing: 1px;
  }
}
