{% extends 'base.html' %}

{% block content %}
{% load static %}


<div class="loginContainer">
    <div class="img">
        <img src="{% static 'image/booking.svg' %}">
    </div>
    <div class="login-content">
        <form method="POST" id="signupForm">
            {% csrf_token %}
            <h2 class="title">Booking form</h2>
            {% for f in patient_details%}
            <div class="input-div one">
                <div class="i">
                    <ion-icon name="person-circle"></ion-icon>
                </div>
                <div class="div">
                    <h5>Patient ID: PID - {{f.id}}</h5>
                </div>
            </div>
            <div class="input-div one">
                <div class="i">
                    <ion-icon name="person"></ion-icon>
                </div>
                <div class="div">
                    <h5>Name: {{f.FirstName}} {{f.LastName}}</h5>
                </div>
            </div>
                {% endfor %}
            <div class="input-div one" id = "bookingField">
                <div class="i">
                    <ion-icon name="business"></ion-icon>
                </div>
                <div class="div">
                    <div class="custom-select">
                        <select name="Department" required>
                            <option value="General">Select a Department</option>
                            {% for f in doctor_details %}
                            <option value="{{f.speciality}}">{{f.speciality}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <a href="doctors" id="bookingMoreBtn" class="section-btn btn btn-default btn-blue smoothScroll">Visit our Departments</a>
            <div class="input-div one" id = "bookingField">
                <div class="i">
                    <ion-icon name="medkit"></ion-icon>
                </div>
                <div class="div">
                    <div class="custom-select">
                        <select name="doctor" required>
                            <option value="Any Doctor">Select a Doctor</option>
                            {% for f in doctor_details %}
                                <option value="{{f.id}}">{{f.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <a href="doctors" id = "bookingMoreBtn" class="section-btn btn btn-default btn-blue smoothScroll">Meet our Doctors</a>
            <div class="input-div one">
                <div class="i">
                    <ion-icon name="bandage"></ion-icon>
                </div>
                <div class="div">
                    <h5>Symptoms</h5>
                    <input type="datalist" class="input" name="Symptoms" required>
                </div>
            </div>
            <div class="input-div one focus">
                <div class="i">
                    <ion-icon name="calendar"></ion-icon>
                </div>
                <div class="div">
                    <h5>Appointment Date</h5>
                    <input type="date" class="input" name="Date" required>
                </div>
            </div>
            <div class="input-div one focus">
                <div class="i">
                    <ion-icon name="time"></ion-icon>
                </div>
                <div class="div">
                    <h5>Appointment Time</h5>
                    <input type="time" class="input" name="Time" required>
                </div>
            </div>
            <div class="input-div one">
                <div class="i">
                    <ion-icon name="document-text"></ion-icon>
                </div>
                <div class="div">
                    <h5>Comments (Optional)</h5>
                    <input type="textarea" class="input" name="comment">
                </div>
            </div>
            <button type="submit" class="loginBtn">Submit</button>
            <a href="userProfile" class="section-btn btn btn-default btn-blue smoothScroll">Return to Personal Profile</a>
            <a href="./" class="section-btn btn btn-default btn-blue smoothScroll">Cancel Booking</a>
        </form>
    </div>
</div>
{% ifequal error 'no' %}
<script type="text/javascript">
    alert("You have successfully registered.")
    window.location = ('loginPage')
</script>
{% endifequal %}
{% ifequal error 'yes' %}
<script type="text/javascript">
    alert("Something went wrong.")
</script>
{% endifequal %}
{% endblock %}