{% extends 'base.html' %}

{% block content %}
{% load static %}


<div class="loginContainer">
    <div class="img">
        <img src="{% static 'image/booking.svg' %}">
    </div>
    <div class="login-content">
        {% for d in patient_details %}
        <form method="POST" id="signupForm">
            {% csrf_token %}
            <h2 class="title">Booking form</h2>
            <div class="input-div one">
                <div class="i">
                    <ion-icon name="person-circle"></ion-icon>
                </div>
                <div class="div">
                    <h5>Patient ID: PID - {{d.id}}</h5>
                </div>
            </div>
            <div class="input-div one">
                <div class="i">
                    <ion-icon name="person"></ion-icon>
                </div>
                <div class="div">
                    <h5>Name: {{d.FirstName}} {{d.LastName}}</h5>
                </div>
            </div>
            <div class="input-div one">
                <div class="i">
                    <ion-icon name="business"></ion-icon>
                </div>
                <div class="div">
                    <h5>Department</h5>
                    <input type="text" class="input" name="age" required>
                </div>
            </div>
            <div class="input-div one">
                <div class="i">
                    <ion-icon name="medkit"></ion-icon>
                </div>
                <div class="div">
                    <h5>Doctor</h5>
                    <input type="text" class="input" name="age" required>
                </div>
            </div>
            <div class="input-div one">
                <div class="i">
                    <ion-icon name="bandage"></ion-icon>
                </div>
                <div class="div">
                    <h5>Symptoms</h5>
                    <input type="textarea" class="input" name="address" required>
                </div>
            </div>
            <div class="input-div one">
                <div class="i">
                    <ion-icon name="document-text"></ion-icon>
                </div>
                <div class="div">
                    <h5>Comments (Optional)</h5>
                    <input type="textarea" class="input" name="address">
                </div>
            </div>
            <button type="submit" class="loginBtn">Submit</button>
            <a href="userProfile" class="section-btn btn btn-default btn-blue smoothScroll">Return to Personal Profile</a>
            <a href="./" class="section-btn btn btn-default btn-blue smoothScroll">Cancel Booking</a>
        </form>
        {% endfor %}
    </div>
</div>
{% ifequal error 'no' %}
<script type="text/javascript">
    alert("You have successfully registered.")
    window.location = ('loginPage')
</script>
{% endifequal %}
{% ifequal error 'yes' %}
<script type="text/javascript">
    alert("Something went wrong.")
</script>
{% endifequal %}
{% endblock %}