{% extends 'base.html' %}
{% load auth_extras %}
{% block content %}
{% load static %}
{% include "navbar.html" %}


<!-- ======= Doctors Section ======= -->
<section id="doctors" class="doctors">
    <div class="DoctorContainer">
        <div class="section-title">
            <h2>Doctors in this Department</h2>
        </div>

                <div class="page-wrapper bg-color-1 p-t-500 p-b-150">
                    <div class="searchWrapper">
                        <div class="card card-7">
                            <div class="card-body">
                                <form class="form" method="GET">
                                    {% csrf_token %}
                                    <div class="input-group input--large">
                                        <label class="label">Doctor Name</label>
                                        <input class="input--style-1" type="search" placeholder="Enter Doctor's name" name="serName">
                                    </div>
                                    <div class="input-group input--medium">
                                        <label class="label">Education</label>
                                        <input class="input--style-1" type="text" placeholder="Enter Education" name="serEdu">
                                    </div>
                                    <div class="input-group input--medium">
                                        <label class="label">Years of Experince</label>
                                        <input class="input--style-1" type="number" placeholder="Enter Experince" name="serExp">
                                    </div>
                                    <div class="input-group input--medium">
                                        <label class="label">Hospitals</label>
                                        <input class="input--style-1" type="text" placeholder="Enter Hospitals" name="serHos">
                                    </div>
                                    <button class="button-84" id="searchBtn" type="submit">search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

        <div class="row">
            {% for doc in queryset %}
            <div class="col-lg-6">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="{{doc.img.url}}" class="img-fluid" alt="" height="200" width="200"></div>
                    <div class="member-info">
                        <h4>Dr. {{doc.name}}</h4>
                        <span>{{doc.speciality}}</span>
                        <p>
                            <strong>Education: </strong>{{doc.education}}<br>
                            <strong>Gender: </strong>{{doc.gender}}<br>
                            <strong>Age: </strong>{{doc.age}}<br>
                            <strong>Time of availability: </strong>{{doc.availableFrom}} - {{doc.availableTo}}<br>
                            <strong>Email Address: </strong>{{doc.EmailAddress}}<br>
                            <strong>Phone number: </strong>{{doc.phoneNumber}}<br>
                            <strong>Experince: </strong>{{doc.experince}} years<br>
                            <strong>Hospitals: </strong>{{doc.hospital}}<br>
                        </p>
                        <div class="social">
                            <a href="{{doc.facebook}}">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </a>
                            <a href="{{doc.instragram}}">
                                <ion-icon name="logo-instagram"></ion-icon>
                            </a>
                            <a href="{{doc.twitter}}">
                                <ion-icon name="logo-twitter"></ion-icon></i>
                            </a>
                            <a href="{{doc.linkedin}}">
                                <ion-icon name="logo-linkedin"></ion-icon></i>
                            </a>
                        </div>
                        {% if request.user|has_group:"Doctor" %}
                        {% else %}
                        <a href="{% url 'docBooking' doc.id %}" onclick="sendData('{{doc.id}}')"
                            class="section-btn btn btn-default smoothScroll">Book an appointment</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section><!-- End Doctors Section -->
{% include "footer.html" %}
{% endblock %}