{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="userContainer">
    {% for d in doctor_details %}
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="{{d.img.url}}" alt="Admin" class="rounded-circle" width="350">
                            <div class="mt-3">
                                <h4>{{d.name}}</h4>
                                <p class="text-secondary mb-1">DOCID - {{d.id}}</p>
                                <p class="text-muted font-size-sm">{{d.speciality}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                        <h4>Appointments</h4>
                        {% for d in upcomming_appointments %}
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                <ion-icon name="medkit"></ion-icon> Appointment with <strong>{{d.PatientName}}</strong><a class="btn btn-info " id="sessionBtn" href="">Start Session</a>
                            </h6>
                            <span class="text-secondary">
                                Date: <strong>{{d.appoitmentDate}}</strong> <br>
                                Time: <strong>{{d.appoitmentTime}}</strong><br>
                                Symptoms: <strong>{{d.symptoms}}</strong><br>
                                Comment: <strong>{{d.Comments}}</strong><br>
                            </span>
                            <a class="btn btn-info" href="">Change time</a>
                            <a class="btn btn-info " id="logoutBtn" href="">Cancel Appoitment</a>
                        </li>
                        {% endfor %}
                    </ul>
                    <ul class="list-group list-group-flush">
                        <h4>Past Appointments</h4>
                        {% for d in past_appointments %}
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                <ion-icon name="medkit"></ion-icon> Appointment with <strong>{{d.PatientName}}</strong>
                            </h6>
                            <span class="text-secondary">
                                Date: <strong>{{d.appoitmentDate}}</strong><br>
                                Time: <strong>{{d.appoitmentTime}}</strong><br>
                                Symptoms: <strong>{{d.symptoms}}</strong><br>
                                Comment: <strong>{{d.Comments}}</strong><br>
                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% for d in doctor_details %}
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0"><strong>Doctor ID</strong></h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                DOCID - {{d.id}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0"><strong>Name</strong></h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{d.name}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0"><strong>Speciality</strong></h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{d.speciality}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0"><strong>Education</strong></h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{d.education}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0"><strong>Gender</strong></h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{d.gender}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0"><strong>Age</strong></h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{d.age}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0"><strong>Phone Number</strong></h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{d.phoneNumber}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0"><strong>Time of avialibity</strong></h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{d.availableFrom}} - {{d.availableTo}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0"><strong>Email Address</strong></h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{d.EmailAddress}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0"><strong>Experince</strong></h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{d.experince}} years
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0"><strong>Hospital</strong></h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{d.hospital}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <a class="btn btn-info" href="">Edit</a>
                                <a class="btn btn-info " id="logoutBtn" href="logout">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row gutters-sm">
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3">Diagnosed dieses</h6>
                                <small>Diabites</small>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 100%"
                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <small>Cancer</small>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 100%"
                                        aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <small>Diabites</small>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 100%"
                                        aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <small>Cancer</small>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 100%"
                                        aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3">Doctor's Comment</h6>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi dolores assumenda
                                    sunt iste. Odio, illo quibusdam? Id placeat nostrum voluptas laboriosam vel sed
                                    provident quod tempora libero quae, doloribus necessitatibus.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}