{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="container-fluid">
    <h2>Frequently Asked Questions(FAQs)</h2>
    <div class="accordion">
        <div class="icon"></div>
        <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.<is class=""></is>
        </h5>
    </div>
    <div class="panel">
        <p>
            Quam nihil ratione, hic voluptatibus architecto odio, exercitationem voluptatem explicabo autem molestias illum nostrum
            porro! Ratione, quia! Officiis quae qui ratione corrupti?
        </p>
    </div>
    <div class="accordion">
        <div class="icon">
        </div>
        <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.<is class=""></is>
        </h5>
    </div>
    <div class="panel">
        <p>
            Quam nihil ratione, hic voluptatibus architecto odio, exercitationem voluptatem explicabo autem molestias illum nostrum
            porro! Ratione, quia! Officiis quae qui ratione corrupti?
        </p>
    </div>
    <div class="accordion">
        <div class="icon"></div>
        <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.<is class=""></is>
        </h5>
    </div>
    <div class="panel">
        <p>
            Quam nihil ratione, hic voluptatibus architecto odio, exercitationem voluptatem explicabo autem molestias illum nostrum
            porro! Ratione, quia! Officiis quae qui ratione corrupti?
        </p>
    </div>
    <div class="accordion">
        <div class="icon"></div>
        <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.<is class=""></is>
        </h5>
    </div>
    <div class="panel">
        <p>
            Quam nihil ratione, hic voluptatibus architecto odio, exercitationem voluptatem explicabo autem molestias illum nostrum
            porro! Ratione, quia! Officiis quae qui ratione corrupti?
        </p>
    </div>
    <div class="accordion">
        <div class="icon">
        </div>
        <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.<is class=""></is>
        </h5>
    </div>
    <div class="panel">
        <p>
            Quam nihil ratione, hic voluptatibus architecto odio, exercitationem voluptatem explicabo autem molestias illum nostrum
            porro! Ratione, quia! Officiis quae qui ratione corrupti?
        </p>
    </div>
    <div class="accordion">
        <div class="icon">
        </div>
        <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.<is class=""></is>
        </h5>
    </div>
    <div class="panel">
        <p>
            Quam nihil ratione, hic voluptatibus architecto odio, exercitationem voluptatem explicabo autem molestias illum nostrum
            porro! Ratione, quia! Officiis quae qui ratione corrupti?
        </p>
    </div>
</div>
{% endblock %}