{% extends 'base.html' %}

{% block content %}
{% load static %}
 <!--================Header Area =================-->
<header class="header_area">

            <!-- Navbar -->
        <div class="container">
            <div class="row">
        
                <div class="col-md-4 col-sm-5">
                    <p>Patient registration with Brain tumor and Pneumonia detection</p>
                </div>
        
                <div class="col-md-8 col-sm-7 text-align-right">
                    <span class="phone-icon"><i class="fa fa-phone"></i> +977-98X-XXX-XXXX</span>
                    <span class="date-icon"><i class="fa fa-calendar-plus-o"></i> Book an appointment</span>
                    <span class="invert">
                        <a class="nav-link" onclick="invertColor()" title="Invert Color for color blindness"><i
                                    class="fa fa-adjust"></i> Invert Color</a>
                        <a class="nav-link" onclick="changeFont('decrease')" title="Decrease Font Size">A- </a>
                        <a class="nav-link" onclick="changeFont('original')" title="Original Font Size">A </a>
                        <a class="nav-link" onclick="changeFont('increase')" title="Increase Font Size">A+ </a>
                </span>
                </div>
        
            </div>
        </div>
        </header>
        
        
        <!-- MENU -->
        <section class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
        
                <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                    </button>
        
                    <!-- lOGO TEXT HERE -->
                    <a href=""><img src="{% static 'image/Logo1.jpg' %} " alt="Main logo"></a>
                </div>
        
                <!-- MENU LINKS -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" class="smoothScroll">Home</a></li>
                        <li><a href="#" class="smoothScroll">About Us</a></li>
                        <li><a href="#" class="smoothScroll">Services</a></li>
                        <li><a href="#" class="smoothScroll">Contact</a></li>
                        <li><a href="#" class="smoothScroll">Help</a></li>
                    </ul>
                </div>
        
            </div>
        </section>
</header>
        <!--================Header Area =================-->
{% endblock %}
