{% extends 'base.html' %}

{% block content %}
{% load static %}
<!------------------------------------------- Slider ----------------------------------------------->
    <section id="home" class="slider" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="owl-carousel owl-theme">
                    <div class="item item-first">
                        <div class="caption">
                            <div class="col-md-offset-1 col-md-10">
                                <h3>Get connected with our doctors</h3>
                                <h1>Meet a Doctor</h1>
                                <a href="booking" class="section-btn btn btn-default smoothScroll">Book an appointment</a>
                            </div>
                        </div>
                    </div>
    
                    <div class="item item-second">
                        <div class="caption">
                            <div class="col-md-offset-1 col-md-10">
                                <h3>Detect Brain tumor and Pneumonia</h3>
                                <h1>Cutting edge deep-learning</h1>
                                <a href="#about" class="section-btn btn btn-default btn-gray smoothScroll">Detection algorithm</a>
                            </div>
                        </div>
                    </div>
    
                    <div class="item item-third">
                        <div class="caption">
                            <div class="col-md-offset-1 col-md-10">
                                <h3>Study news</h3>
                                <h1>Find out whats new in Nepal</h1>
                                <a href="#news" class="section-btn btn btn-default btn-blue smoothScroll">Read News</a>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </section>
<!----------------------------------------------- Introduction -------------------------------------------------------->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="about-info">
                        <h2 class="wow fadeInUp" data-wow-delay="0.6s">Welcome to Dhanvantari</h2>
                        <h3 class="wow fadeInUp" data-wow-delay="0.7s">Your very own Patient registration system</h3>
                        <div class="wow fadeInUp" data-wow-delay="0.8s">
                            <p>
                                The project is proposed to be a patient registration website of hospitals with a brain tumor
                                and Pneumonia detection. This project aims to minimize the hassle and time taken in the
                                hospital. When you visit a hospital there is a lot of checkpoints that you need to go
                                through.
                            </p>
                            <p>
                                This website plans to eliminate this hassle by making the patient registration online. Users
                                can fill out the registration form in their homes and make an appointment with a concerned
                                doctor by just press of a button.
                            </p>
                            <p>
                                This website features brain tumor detection
                                as well as a Pneumonia detection system with the help of a deep-learning algorithm called
                                convolutional neural network (CNN). The patient can visit diagnostic centers with are
                                comparatively less crowded and get an X-ray/ MRI scan. The scan can be uploaded on
                                the website where the algorithm can detect if the patient is healthy or not. If the result is
                                3
                                adverse then the patient can visit the hospital for special treatment.
                            </p>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </section>
<!--========================================Header Area ========================================================-->
{% endblock %}
