{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="loginContainer">
    <div class="img">
        <img src="{% static 'image/lab.svg' %}">
    </div>
    <div class="login-content">
        <form method="POST" id="loginForm">
            {% csrf_token %}
            <img src="{% static 'image/lablogin.png' %}">
            <h2 class="title">Laboratory</h2>
            <div class="input-div one">
                <div class="i">
                    <ion-icon name="person"></ion-icon>
                </div>
                <div class="div">
                    <h5>Lab's Email</h5>
                    <input type="email" class="input" name="Username" required>
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <ion-icon name="lock-closed"></ion-icon>
                </div>
                <div class="div">
                    <h5>Password</h5>
                    <input type="password" class="input" name="Password" id="passwordInput" required>
                    <span id="eye" onclick="toggleEye()">
                        <ion-icon name="eye" id="openEye"></ion-icon>
                        <ion-icon name="eye-off" id="closeEye"></ion-icon>
                    </span>
                </div>
            </div>
            <input type="submit" class="loginBtn" value="Login">
            <a href="loginPage" class="section-btn btn btn-default btn-blue smoothScroll">Patient's Login</a>
            <a href="doctorlogin" class="section-btn btn btn-default btn-blue smoothScroll">Doctor's Login</a>
        </form>
    </div>
</div>
{% include "footer.html" %}
{% endblock %}