{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="userContainer">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-12 mb-3">
                <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                        <h4>Available Patients</h4>
                        {% if appointments %}
                        {% for d in appointments %}
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                <ion-icon name="medkit"></ion-icon> Appointment of <strong>{{d.PatientName}}</strong> with <strong>Dr.{{d.Doctor_ID}}</strong>
                            </h6>
                            <span class="text-secondary">
                                Date: <strong>{{d.appoitmentDate}}</strong> <br>
                                Time: <strong>{{d.appoitmentTime}}</strong><br>
                                Symptoms: <strong>{{d.symptoms}}</strong><br>
                                Comment: <strong>{{d.Comments}}</strong><br>
                            </span>
                            <h6 class="mb-0">
                                 <strong>Create Lab report on: </strong>
                            </h6>
                            <div class="wrapper">
                                <span>
                                    <a class="icon MRIScan" href="{% url 'bloodReport' d.id %}">MRI-Scan</a>
                                </span>
                                <span>
                                    <a class="icon BloodTest" href="{% url 'medicalReport' d.id %}">Blood Test</a>
                                </span>
                                <span>
                                    <a class="icon XRayScan" href="{% url 'medicalReport' d.id %}">X-Ray Scan</a>
                                </span>
                                <span>
                                    <a class="icon Endoscopy" href="{% url 'medicalReport' d.id %}">Endoscopy</a>
                                </span>
                            </div>
                        </li>
                        {% endfor %}
                        {% else %}
                        <div id="emptyAppoitments">
                            <p> No sceduled Appointments</p>
                        </div>
                        {% endif %}
                    </ul>
                </div>
            </div>
</div>
{% endblock %}