{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="userContainer">
    {% for d in patient_details %}
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="{{d.image.url}}" alt="Admin"
                                class="rounded-circle" width="350">
                            <div class="mt-3">
                                <h4>{{d.FirstName}} {{d.LastName}}</h4>
                                <p class="text-secondary mb-1">PID - {{d.id}}</p>
                                <a href="booking" class="section-btn btn btn-default btn-blue smoothScroll">Book an Appointment</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                        <h4>Appointments</h4>
                        {% for d in upcomming_appointments %}
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                <ion-icon name="medkit"></ion-icon> Appointment with <strong>{{d.Doctor_ID}}</strong><a class="btn btn-info " id="logoutBtn" href="{% url 'delete_appointment' d.id %}" onclick= "return confirm('Are you sure you want to cancel this appointment? This action is irreversible.')">Cancel Appoitment</a>
                            </h6>
                            <span class="text-secondary">
                                Date: <strong>{{d.appoitmentDate}}</strong> <br>
                                Time: <strong>{{d.appoitmentTime}}</strong><br>
                                Symptoms: <strong>{{d.symptoms}}</strong><br>
                                Comment: <strong>{{d.Comments}}</strong><br>
                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                    <ul class="list-group list-group-flush">
                        <h4>Past Appointments     <a class="btn btn-info" href="">Hide/Show</a></h4>
                        {% for d in past_appointments %}
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                <ion-icon name="medkit"></ion-icon> Appointment with <strong>{{d.PatientName}}</strong>
                            </h6>
                            <span class="text-secondary">
                                Date: <strong>{{d.appoitmentDate}}</strong><br>
                                Time: <strong>{{d.appoitmentTime}}</strong><br>
                                Symptoms: <strong>{{d.symptoms}}</strong><br>
                                Comment: <strong>{{d.Comments}}</strong><br>
                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0"><strong>Patient ID</strong></h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                PID - {{d.id}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0"><strong>Name</strong></h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{d.FirstName}} {{d.LastName}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0"><strong>Age</strong></h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{d.age}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0"><strong>Gender</strong></h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{d.gender}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0"><strong>Address</strong></h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{d.address}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0"><strong>Phone Number</strong></h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{d.PhoneNumber}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0"><strong>Email Address</strong></h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{d.EmailAddress}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0"><strong>Blood Group</strong></h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{d.BloodGroup}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <a class="btn btn-info" href="">Edit</a>
                                <a class="btn btn-info " id = "logoutBtn"href="logout">Log
                                    out</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row gutters-sm">
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3">Diagnosed dieses</h6>
                                <small>Diabites</small>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 100%"
                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <small>Cancer</small>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 100%"
                                        aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <small>Diabites</small>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 100%"
                                        aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <small>Cancer</small>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 100%"
                                        aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <h4>Prescribed medication</h4>
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0">
                                            <ion-icon name="partly-sunny"></ion-icon> Morning
                                        </h6>
                                        <span class="text-secondary">
                                            PENSTAL - 40
                                        </span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0">
                                            <ion-icon name="sunny"></ion-icon> Day
                                        </h6>
                                        <span class="text-secondary">
                                            PANTOPRAZOLE - 40
                                        </span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0">
                                            <ion-icon name="cloudy-night"></ion-icon> Noon
                                        </h6>
                                        <span class="text-secondary">
                                            SITAMOL
                                        </span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <h6 class="mb-0">
                                            <ion-icon name="moon-sharp"></ion-icon> Night
                                        </h6>
                                        <span class="text-secondary">
                                            COUGH SIRUP
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}